.admin {
    display: flex;
    /* overflow: visible; */
    position: relative;
  }
  
  .side {
    background-color: #080628 !important;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }